<h1>Update your password</h1>

<p>Please enter the new password below and then press "Update Password".</p>

<%= form_tag password_reset_path, :method => :put do %>
  <%= label_tag :password %><br />
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation %><br />
  <%= password_field_tag :password_confirmation %>
  <%= submit_tag "Update Password" %>
<% end %>
