<!DOCTYPE html>
<html>
<head>
  <title>OKDashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- Don't put any more javascript_include_tags here.  Talk to Lou. -->
  <%= csrf_meta_tags %>
</head>

<body id="<%= params[:controller].parameterize %>_controller">

<div class="preview_branch">OpenKit is shutting down.  We are no longer taking new developers, and the service will only run until Sept 1, 2014.</div>

<div class="wrapper">
<% if display_logout? %>
  <div class="top">
    <h1 class="logo"><a href="/"><%= image_tag 'logo.png' %></a></h1>

    <ul class="nav">
      <li><a href="/">Your Apps</a></li>
    </ul>

    <ul class="admin">
      <li><a href="http://openkit.io/downloads" target="_blank">Downloads</a></li>
      <li><a href="http://openkit.io/documentation" target="_blank">Documentation</a></li>
      <li><a href="http://openkit.io/help" target="_blank">Help</a></li>
      <li>
        <a class="account">Account <i class="icon-chevron-down"></i></a>
        <div class="subnav">
          <ul>
            <li><a href="<%= developer_path(current_developer) if current_developer %>" ><i class="icon-cog"></i> Settings</a></li>
            <li>
              <%= link_to logout_path, :method => :delete do %>
                <i class="icon-off"></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="clearfix"></div>
  </div>
<% end %>


<% if flash[:error] -%>
  <div id='flash'><p class='error'><%=h flash[:error] %><i class="icon-remove-sign"></i></p></div>
<% end -%>
<% if flash[:notice] -%>
  <div id='flash'><p class='notice'><%=h flash[:notice] %><i class="icon-remove-sign"></i></p></div>
<% end -%>

<div class="main">
  <div class="main_inner">
    <%= yield %>
  </div>
</div>

</div>


</body>
</html>
