<h1>Listing developer_data</h1>

<table>
  <tr>
    <th>User</th>
    <th>Number of bytes</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nick %></td>
    <td><%= user.cloud_data %></td>
    <td><%= link_to 'Show', developer_data %></td>
    <td><%= link_to 'Edit', edit_developer_data_path(developer_data) %></td>
    <td><%= link_to 'Destroy', developer_data, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ok data', new_developer_data_path %>
