<div class="session">
  <h1><%= image_tag 'login_logo.png' %></h1>

  <%= form_tag password_reset_path, :method => :put do %>
    <h2>Update Password</h2>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>

    <%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %>
    <%= submit_tag "Update Password" %>
  <% end %>

</div>
