<div class="session">

<h1><%= image_tag 'login_logo.png' %></h1>

<%= form_tag password_resets_path do %>

  <h2>Reset Password</h2>

  <div class="field">
    <label>Please enter your email address below</label>
    <%= text_field_tag :email %>
  </div>

  <%= submit_tag "Reset Password" %>

<% end %>


<p class="forgot"><%= link_to 'Back to Login', login_path %></p>

</div>
