<h1>Listing users</h1>

<table class="box">
  <tr>
    <th>Nick</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% if @users.empty? %>
  <tr>
    <td colspan="4">There are no users for this account.</td>
  </tr>
<% else %>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.nick %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<% end %>

</table>

<br />

<%= link_to 'New User', new_user_path %>
