<div class="header">
  <h1><%= link_to 'Your Apps', apps_path %> <span>/</span> <%= link_to @app.name, @app %> <span>/</span> <%= link_to 'Achievements', app_achievements_path(@app) %> <span>/</span> <%= @achievement.name %></h1>
  <%= link_to edit_app_achievement_path(@app, @achievement), {:class=> 'header_button'} do %>
      <i class="icon-edit"></i> Edit Achievement
  <% end %>
</div>

<div class="two_col">

<div class="box right details">
  <div class="details_header">Achievement Details</div>
  <ul>
    <li class="icon"><b>Icon:</b> <%= image_tag @achievement.icon.url, {:class=> 'leaderboard_icon'} %></li>
    <li><b>Name:</b> <span><%= @achievement.name %></span></li>
    <li><b>Desc:</b> <span><%= @achievement.desc %></span></li>
    <li><b>ID:</b> <span><%= @achievement.id %></span></li>
    <li><b>Goal:</b> <span><%= @achievement.goal %></span></li>
    <li><b>Points:</b> <span><%= @achievement.points %></span></li>
  </ul>
</div>


<!--Top Scores-->
<table class="box left">
  <tr>
    <th>Nick</th>
	  <th>Current progress</th>
    <th>Scored at</th>
  </tr>

  <% if @achievement_scores.empty? %>
    <tr>
      <td colspan="3">There are no players in this achievement.</td>
    </tr>
  <% else %>

    <% @achievement_scores.each do |score| %>
      <tr>
        <td><%= score.user.nick %></td>
		    <td><%= score.progress %></td>
        <td><%= score.created_at %></td>
    </tr>
    <% end %>

  <% end %>

</table>

</div>

