<%= form_for(@developer) do |f| %>

  <h2>Sign up</h2>

  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %>:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <% if params[:action] != "edit" %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>

  <p class="terms">By signing up, you are also accepting our <a href="#" target="_blank">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.</p>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>

<% end %>
