<%= form_for(@app) do |f| %>

  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :icon %>
    <%= f.file_field :icon %>
  </div>

  <div class="field">
    <%= f.label :fbid, "Facebook App ID (optional):"%>
    <%= f.text_field :fbid %>
  </div>

  <% if params[:action] == "edit" %>
    <%# image_tag @app.icon.url if @app.icon.file? %>
  <% end %>

  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', @app, {:class=> 'cancel'} %>
  </div>

<% end %>
