<div class="header">
  <h1>Your Apps</h1>
  <%= link_to new_app_path, {:class => 'header_button'} do %>
    <i class="icon-plus"></i> Add a New App
  <% end %>
</div>

<div class="one_col">
  <table class="box">
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th></th>
    </tr>

  <% if @apps.empty? %>
    <tr>
        <td colspan="3">You have no apps in this account. <%= link_to "Add a New App", new_app_path %></td>
  <% else %>

    <% @apps.each do |app| %>
      <tr>
        <td class="icon"><%= image_tag app.icon.url, {:class=> 'app_icon'}  %></td>
        <td class="name"><%= link_to app.name, app %></td>
        <td class="manage">
          <%= link_to edit_app_path(app) do %>
            <i class='icon-edit'></i> <span>Edit</span>
          <% end %>
          <%= link_to app, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class='icon-remove'></i> <span>Destroy</span>
          <% end %>
        </td>
      </tr>
    <% end %>

  <% end %>

  </table>
</div>
