<div class="header">
  <h1><%= link_to 'Your Apps', apps_path %> <span>/</span> <%= @app.name %></h1>
  <%= link_to edit_app_path(@app), {:class => 'header_button'} do %>
    <i class="icon-edit"></i> Edit App
  <% end %>
</div>

<div class="two_col">

<div class="box right details">
  <div class="details_header">App Details</div>
  <ul>
    <li class="icon"><b>Icon:</b> <%= image_tag @app.icon.url, {:class=> 'app_icon'} if @app.icon.file? %></li>
    <li><b>Name:</b> <span><%= @app.name %></span></li>
    <li><b>App Key:</b> <span><%= @app.app_key %></span></li>
  </ul>
</div>

<div class="box left no_table">
  <ul>
    <li><%= image_tag ("leaderboard_icon.png") %><%= link_to 'Leaderboards', app_leaderboards_path(@app) %></li>
    <li><%= image_tag ("cloud_icon.png") %>Cloud Data Browser (coming soon)</li>
  </ul>
</div>

</div>




