    <meta property="og:type" content="game.achievement"/>
    <meta property="og:title" content="<%= @achievement.name %>"/>
    <meta property="og:description" content="<%= @achievement.name %> - <%= @achievement.desc %>"/>
    <meta property="og:url" content="http://<%= request.host%>:<%=request.port%><%=CGI::unescapeHTML(request.fullpath)%>"/>
    <meta property="og:image" content="http://<%= request.host%>:<%=request.port%><%=@achievement.icon.url %>"/>
    <meta property="og:image" content="http://<%= request.host%>:<%=request.port%><%=@achievement.icon_locked.url %>"/>
    <meta property="game:points" content="<%= @achievement.points %>"/>
    <meta property="fb:appid" content="<%= @app.fbid %>"/>
  <title><%= @achievement.name %> - <%= @achievement.desc %></title>
</head>
<body>
<p><%= @achievement.name %> - <%= @achievement.desc %> </p>
<%= image_tag @achievement.icon.url, {:class=> 'leaderboard_icon'} if @achievement.icon.file? %>
