<!DOCTYPE html>
<html>
<head>
  <title>OKDashboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="<%= params[:controller].parameterize %>_controller">

<div class="wrapper">
<% if display_logout? %>
  <div class="top">
    <h1 class="logo">OpenKit <sup>beta</sup></h1>

    <ul class="nav">
      <li><a href="/"><i class="icon-th-list"></i> Your Apps</a></li>
      <li><a href="http://openkit.io/docs/downloads" target="_blank"><i class="icon-download-alt"></i> Downloads</a></li>
      <li><a href="http://openkit.io/docs" target="_blank"><i class="icon-question-sign"></i> Documentation</a></li>
    </ul>

    <ul class="admin">
      <li>
        <a class="account">Account <i class="icon-chevron-down"></i></a>
        <div class="subnav">
          <ul>
            <li><a href="<%= developer_path(current_developer) if current_developer %>" ><i class="icon-cog"></i> Settings</a></li>
            <li><a href="http://openkit.io/feedback" target="_blank"><i class="icon-comment"></i> Feedback</a></li>
            <li>
              <%= link_to logout_path, :method => :delete do %>
                <i class="icon-off"></i> Logout
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="clearfix"></div>
  </div>
<% end %>


<% if flash[:error] -%>
  <div id='flash'><p class='error'><%=h flash[:error] %><i class="icon-remove-sign"></i></p></div>
<% end -%>
<% if flash[:notice] -%>
  <div id='flash'><p class='notice'><%=h flash[:notice] %><i class="icon-remove-sign"></i></p></div>
<% end -%>

<div class="main">
  <div class="main_inner">
    <%= yield %>
  </div>
</div>

</div>


</body>
</html>
